p Go twisted down the barrel lid above [[go.obj]] tighter, the heat of [[go.pos]] breath hot on [[go.pos]] knees. The only light in the barrel came through the spout. Even then, it was not enough for [[go.obj]] to see. The stench of wine burned [[go.pos]] nose. The ship rocked with the incoming tide. There was no sound, save [[go.pos]] racing heart, and its continual thumping only made [[go.obj]] more anxious.
p Today would be the day, [[go.sub]] told [[go.self]] Today would be the day [[go.sub]] finally got off this island, away from [[go.pos]] never changing life, free from [[go.pos]] two sibling's oversight.
p [[go.Sub]] had never gotten this far in [[go.pos]] escape attempt before. The sailor simply rolled this barrel onto the ship and stuffed it in the cargo hold with the rest. Or at least, [[go.sub]] assumed it was the rest, based on the sound. It was too easy. [[go.Sub]] wanted to peek. To take a deep breath of fresh air. To ensure [[go.pos]] victory.
p [[go.Pos]] stomach turned. [[go.Pos]] gag reflex wrenched. [[go.Pos]] squeezed [[go.pos]] fingers between [[go.pos]] knees and mouth, and a surge of vomit bubbled into [[go.pos]] throat. [[go.Sub]] choked. Tears welled in [[go.pospl]] eyes. 
p There was no one around, right? How long had [[go.sub]] been down here? [[go.Sub]] needed air. Now.
p [[go.Sub]] punched the lid free and popped out of the barrel, gasping and coughing. [[go.Sub]] hammered a fist against [[go.pos]] chest. [[go.Sub]] swallowed hard.
p "One hour, seventeen minutes, and thirteen seconds," said a voice. "If I wasn't furious, I'd be impressed." And there, sitting hunched on a crate beside the entrance, was [[go.pos]] older [[go.sibling]], Askk. All the hair on Go's body stood on end.
p Askk held a small pocket watch, [[askk.pos]] gaze not flinching from it. [[askk.Sub]] wore [[askk.pos]] good clothes, as [[askk.sub]] seemed to do every time [[askk.sub]] went looking for Go.
p Go lunged for the exit. [[go.Pos]] foot caught on the barrel edge and the two fell to the ground. Askk yanked [[go.obj]] up by the collar and threw [[askk.pos]] hand across Go's face.
p "How many times do we have to go through this?" Askk roared. "I've told you time and time again, you're not leaving this island. You're never leaving this island. Or do you want me to force you to sleep in the shed again?"
p Go spit in [[askk.pos]] face. [[go.Sub]] grabbed the underside of Askk's arms and pinched the skin; Askk's grip gave way to pain. The [[go.child]] jumped to [[go.pos]] feet and bolted toward the stairs, the sunlight from the ship deck pouring in. But as [[go.sub]] stumbled into it, a dark shadow fell over [[go.obj]]. A giant sailor stood blocking [[go.pos]] path. [[captain.Pos]] arms were crossed. [[captain.Pos]] coal eyes squinted. The corner of [[captain.pos]] mouth twisted into a smirk. Go dove through the opening between [[captain.pos]] legs. The giant yanked back [[go.pos]] coat tail and hoisted Go up by [[go.pos]] ankle.
p "No!" Go said. [[go.Sub]] kicked. [[go.Sub]] squirmed. [[go.Sub]] punched. [[go.Pos]] hat fell from [[go.pos]] head, and with it, the small pouch with [[go.pos]] precious few coins.
p Chuckling, the giant blocked [[go.obj]] and spun [[go.obj]] around to stand upright. [[captain.Sub]] slammed [[captain.pos]] hands on [[go.pos]] shoulders, squeezing hard as Go tried to bolt and Askk trudged up from below. 
p Askk braced [[askk.self]] against the railing, dragging [[askk.pos]] bad leg up the stairs behind [[askk.pos]]
p "Thanks, Captain," Askk said. "I apologize once again for the trouble my [[go.sibling]] has caused."
p "Don't mention it," the giant said. "I don't take kindly to stowaways on my ship."
p Askk scooped up both Go's hat and coin pouch. [[askk.Sub]] slapped the hat onto the boy's head, popped open the wallet, and poured out the coins into [[askk.pos]] hand. [[askk.Sub]] held them toward the captain.
p "Here. This should take care of the cost of the wine."
p The blood in Go's body began to boil as [[go.pos]] eyes grew wide.
p The giant shook [[captain.pos]] head. "No, your family needs it more than me. As it goes, you never know what gets lost at sea, so losing a barrel or two is always factored into the shipment."
p "But I insist. Go worked hard to get this money behind my back so [[go.sub]] could go on [[go.pos]] epic journey. It'd be a shame if [[go.sub]] came back with a full purse, don't you think?"
p "Really, you don't--"
p "As you wish," Askk turned on [[askk.pos]] heels and chucked the money toward the ocean horizon.
p "No!" Go cried. 
p The captain's hands slipped. 
p Go bolted and threw [[go.self]] overboard. The salt water stung [[go.pos]] eyes as [[go.sub]] darted toward every piece of sinking debris or stream of bubbles [[go.sub]] saw. Swimming to the floor, [[go.sub]] grabbed and inspected every lump that did not look like sand.
p "Apeiron," a soft voice whispered to [[go.pos]] side, followed by a soft clink of metal.
p [[go.Sub]] paused, perking [[go.pos]] ears. A gust of water flew by [[go.pos]] leg. [[go.Sub]] looked down, but nothing was there. Maybe a fish?
p "Apeiron," the voice said from behind [[go.obj]].
p [[go.Sub]] twirled around and squinted toward the harbor exit and the blurry blue beyond. Choking, [[go.sub]] clapped [[go.pos]] hand to [[go.pos]] mouth and burst up from the water with a gasp.
p [[go.Sub]] sniffed, slapping the water as a sob escape from [[go.pos]] throat, and [[go.sub]] glared up at Askk who stared down at [[go.obj]] with a frown.
p "I'll get off this stupid island one day!" Go roared. "And the first thing I'll do is let everyone know what kind of jerk you are!"
p Askk cupped [[askk.pos]] hand around [[askk.pos]] mouth. "Good look with that. Until then, I'll be sure to keep your spot in the shed nice and warm."