p Vote recorded!
p Check back on {{vm.formatTime}} for the next chapter.
//- p (Invite your friends)
div(class="shareaholic-canvas" data-app="share_buttons" data-app-id="26952850")
div(style="text-align: right;padding: 2em 1em 0;")
	button.btn.btn.primary(ng-click="closeThisDialog()") OK