p Go was certain [[go.sub]] heard a voice in the water this time. It woke [[go.obj]] up and [[go.sub]] threw aside the shabby curtain of [[go.pos]] room, punched out the rotting shutters of [[go.pos]] attic room, and stared into the ocean below, lapping the pillars of [[go.pos]] home. That is if [[go.sub]] could call the cramped, damp fisherman’s shack a home.

p The attic, from the ladder leading down to the kitchen to the window above Go’s cot, was exactly 8 steps wide and, from [[go.pos]] younger [[set.sibling]], Set’s, hammock to the nightstand beside [[go.pos]] cot, exactly 7.5 steps long. The floor below, where [[go.pos]] older [[askk.sibling]], Askk slept, was the kitchen and large table where they ate their meals. The only thing worth looking at in the whole house was the view of the rest of the island from the window. The harbor town sat on the far side of the bay, hugging the base of the green mountain [[go.subwas]] once told was a volcano. The large sails of a newly arrived merchant ship promised new faces and stories of adventure [[go.sub]] would never hear.

p But Go was certain [[go.sub]] heard a voice in the water. [[go.Sub]] stared hard at the shadows. [[go.Pos]] heart jumped at the sight of a tail, but a pair of fish playing tag swerved out from under the dock and darted back under it. Nothing.

p “Go!” Set yelled from the kitchen. “Your breakfast isn’t going to eat itself and Askk could be back any minute. Don’t make me come up there!”

p Go grimaced. [[go.Sub]] reached to [[go.pos]] nightstand and grabbed [[go.pos]] hat and coat, a mismatched combination of fading green and solid blue. Another stupid day doing more stupid work for a stupid [[askk.sibling]] on a stupid island. Nothing would change. Nothing ever changed. [[go.Sub]] turned 16 years old last week. [[go.Sub]] didn’t have a single friend [[go.pos]] age. [[go.Subwas]] far too poor to do anything but let [[go.pos]] brain rot. Askk found [[go.obj]] and tied [[go.obj]] in the shed overnight every time [[go.sub]] tried to escape. And [[go.subwas]] still doing the same thing over and over and over: Wake up, eat, fish, eat, sleep.

p [[go.Sub]] punched the wall and grabbed a thick tuff of [[go.pos]] blond hair. [[go.Subwas]] losing [[go.pos]] mind!

p “Apeiron,” came the voice again.

p Go lunged to the window. But as [[go.sub]] grabbed the shutters, they snapped from the wall and fell into the water below.

p “Go, for the last time.” Set stomped up the ladder and crossed [[set.pos]] arms. “What are you doing?”

p Go pointed. “Did you hear that?”

p “Hear what? Look, if you don’t want to eat, don’t blame me when Askk finds out. We barely have enough money as it is…and did you just break our window?”

p “That voice! The ocean, it’s talking. Didn’t you hear it?”

p The door to their house flew open, followed by the drunken thump of boots. Both Go and Set tensed. Set’s face dropped a shade in panic.

p “Go!” Askk roared. “This better not be your food I’m looking at.”

p There was a smash and a clang and a thump and the hum of a fallen frying pan.

p Go snarled. “Can't afford bread half the time and [[askk.sub]] comes home drunk in the morning.”

p “Go!” Askk roared again.

p Turning on [[go.pos]] heels, Go hurled [[go.self]] out the window.

p “GO!” [[go.Sub]] heard Set’s muffled voice shriek above.

p The icy water swallowed [[go.obj]] and jolted [[go.obj]] further awake as [[go.pos]] bottom hit the bedrock. [[go.Sub]] squinted [[go.pos]] eyes open. The shouting in the house above [[go.obj]] continued, a vibrating sonar which pulsed muffled drums around [[go.obj]]. [[go.Sub]] found a rock. Setting [[go.pos]] foot on it, [[go.sub]] squatted and pushed with all [[go.pos]] might, shooting out into the water. Five minutes and three seconds. That was [[go.pos]] record time holding [[go.pos]] breath. But perhaps [[go.pos]] lungs were still tired as sudden choke forced [[go.obj]] to surface behind a rock. [[go.Sub]] gasped for air. Coughing, [[go.sub]] heard Askk and Set’s voices again.

p Slumping into the water, [[go.sub]] blew bubbles and peeked around the rock. [[go.Sub]] saw Askk stagger out onto the dock where their one and only horse and cart waited. [[askk.Pos]] crippled leg was bad ever in supporting [[go.pos]] weight and [[askk.sub]] fell into the driver’s seat. Set ran after [[askk.obj]]. [[set.Sub]] tried to pull [[askk.obj]] off, but [[askk.sub]] slapped [[set.pos]] away and whipped the horse into a trot.

p Go took a deep breath and shot off further into the bay.

p [[go.Sub]] swam over a crab. [[go.Sub]] scooped it up in passing and stuck [[go.pos]] tongue out to taunt the confused creature into snapping at [[go.pos]] nose with one of its tiny claws. 

p “Apeiron,” the voice whispered.

p Go stopped. [[go.Sub]] glanced around, trying to target the direction of the voice. But a twinkle of light in the floor bed caught [[go.pos]] eye. Tossing the crab aside, [[go.sub]] swam to it. [[go.Sub]] scooped the sand away and pulled up a crystal. It was no bigger than an eye. Cloudy white in color, which made [[go.obj]] think it was Quartz. Or at least, [[go.sub]] once saw a merchant haggling over similar crystals and called it that name. Whatever it was though, Go knew it was valuable. Not as much as a gold coin, but [[go.sub]] could buy three, or maybe four, nights at an inn with this. Or perhaps, maybe, [[go.sub]] could even bribe a merchant to get [[go.obj]] off this stupid island once and for all!

p “Apeiron,” the voice continued to beckon.