p Go shoved the crystal into [[go.pos]] pocket.
p But before he went to town, [[go.sub]] had to find the source of that voice.
p [[go.Sub]] glanced around. The dark nothingness of ocean was to [[go.pos]] left, the jagged rocks rising up from the bank to begin the shore on [[go.pos]] right. They continued to rise to a small cliff which cupped around a tiny cove. A forest of more rocks guarded its entrance.
p [[go.Sub]] swam up to edge of the forest and emerged for air. [[go.Sub]] peeked around the rock to the edge of the cliff. No sign of Askk. Yet. [[askk.Sub]] probably went to town considering [[askk.sub]] chose to ride the cart. If [[askk.subwas]] planning to scope the cove, [[askk.sub]] would have ditched that and ridden [[askk.pos]] horse bareback. But that could change anytime.
p Taking a deep breath, Go submerged [[go.self]]. [[go.Sub]] cupped [[go.pos]] hands around [[go.pos]] ears; [[go.sub]] closed [[go.pos]] eyes; [[go.sub]] listened hard.
p "Apeiron..."
p It was from the cove.
p [[go.Sub]] pushed off the rock and shot into the maze. [[go.Sub]] stuck [[go.pos]] arm in the current. It pulled [[go.obj]] forward with the waves. [[go.Sub]] slapped [[go.self]] against a rock. The weight of the water crushed [[go.obj]] as it sped back toward the ocean. [[go.Sub]] pushed [[go.self]] into the current again.
p Finally, [[go.subwas]] inside the cove. The shore grew shallow, but not enough to walk. [[go.Sub]] swam to the cliff walls and pulled [[go.self]] onto a small outcrop. It was not large enough to sit upright. Each wave brought in a new gush of water to soak the barnacles beneath [[go.obj]]. But it was enough to rest, to hide, and to scan the water. The only way out was to climb the cliff or fight the currents. Where ever the voice was coming from, they wouldn't escape.
p [[go.Sub]] pulled up [[go.pos]] leg. A thick wad of seaweed had wrapped itself around it. [[go.Sub]] grimaced and slapped [[go.pos]] hand over [[go.pos]] mouth. A cold shiver ran down [[go.pos]] spine.
p Set had once mocked [[go.obj]] about it -- [[go.pos]] pure disgust for the slimy, stench snags of the ocean -- if disgust was the right word. Absolute repulsion was a better phrase. 
p It was ocean vomit. There was no other way to describe it. Ocean vomit. If there was one thing on this island [[go.subwas]] grateful for, it was that the island was nowhere near a kelp forest. But why did the reminder seaweed existed have to show up now of all times?
p Cringing, [[go.sub]] dug [[go.pos]] fingers into the mass. A zap shot up [[go.pos]] arm. [[go.Sub]] snapped the seaweed free, threw it out into the water, and shook [[go.pos]] hand. [[go.Sub]] cursed under [[go.pos]] breath. [[go.Sub]] looked at [[go.pos]] hand. Along [[go.pos]] palm and fingers, the impression of the seaweed remained as a red rash. Like a burn. Or a jellyfish sting. 
p [[go.Pos]] eyes widened. [[go.Sub]] grabbed [[go.pos]] wrist and checked for any sign of stinger. [[go.Sub]] flexed [[go.pos]] fingers; [[go.sub]] checked [[go.pos]] leg. There was no feeling of paralysis. [[go.Sub]] checked [[go.pos]] hand again. The marks were fading. [[go.Sub]] looked out toward where [[go.sub]] threw the seaweed, back at the cove entrance, then back at [[go.pos]] hand.
p The marks were gone.
p [[go.Sub]] grabbed [[go.pos]] hat with [[go.pos]] free hand and squeezed as hard as [[go.sub]] could. The shower of salt water poured down [[go.pos]] face and back. [[go.Sub]] shook [[go.self]]. It was probably [[go.pos]] imagination. 
p Stupid seaweed. Messing with [[go.pos]] mind.
p "Apeiron!"
p [[go.Sub]] jolted. The voice could have been someone next to him. There was no one there. Yet, [[go.sub]] now knew for certain whatever was saying it, whoever was saying it was inside this cove.
p [[go.Sub]] squinted hard, scanning the edge of the cove for any irregularity. 
p The ocean vomit floated in the middle of the cove like it decided the sole purpose of its existence was to mock [[go.obj]]. Go cursed at it again.
p A large wave crashed through the entrance, scooped the seaweed into a foamy stampede, and smashed it against the side of the cliff.
p Go laughed. The seaweed snagged onto an outcrop from the cliff.
p A loud, clicking thunk pulled [[go.pos]] attention back to it,
p No, it was not an outcrop the seaweed had snagged. The entrance of a cave? 
p But there were no caves in this cove. [[go.Sub]] would have moved here ages ago if there were.
p [[go.Sub]] glanced at the seaweed. It detached from the entrance and twirled with the ebb back toward the entrance. [[go.Sub]] jumped into the water.
p The cave entrance was small. Very small. It was barely the size of [[go.pos]] head in height and only a forearm in length. But it was deep. It was dark. It was far larger than the entrance assumed.
p Was the voice coming from inside here?
p Go ran [[go.pos]] hands along the entrance and found the widest point. There wasn't much light, but [[go.sub]] wanted to see if [[go.sub]] could at least fit through the hole. [[go.Sub]] stuck [[go.pos]] arm inside.
p A gray, human-like hand burst from the water and slapped around [[go.pos]] wrist.
p Go yelped. [[go.Sub]] pulled [[go.pos]] arm back, pulling up what looked like the rest of a human with long, red hair. They opened a crimson eye whose gaze locked into Go’s own.
p "Run," they said.
p There was a loud crack behind [[go.obj]]. A roll of thunder.
p Go turned. [[go.Pos]] heart skipped a beat. The mass of seaweed grew and grew and grew, spiraling up from the water to form the body of a snake the height of the cliff. Tendrils burst from its neck and twisted into what Go could only describe as the head of a horse with no ears, black eyes, and the beak and tentacles of an octopus instead of a muzzle. Lighting cracked in its belly. 
p “Apeiron,” its chest rumbled.
p It opened its beak and roared.