p Go's head was spinning. Perhaps because [[go.subwas]] still dizzy from the fight. Perhaps because the conversation between Askk and Cedilla still made no sense. 
p But everything inside of [[go.obj]] screamed, "run." Get out of there. Get away from the insanity. Escape to a place where [[go.sub]] could think and rest and hide until [[go.pos]] racing heart finally calmed down.
p [[go.Pos]] eyes fell onto Askk's horse. It only had a bridle and [[go.subwas]] no expert in bareback, but it was better than nothing. [[go.Sub]] tightened [[go.sub]] fists.
p "Stop trying to control my life!" Go shouted.
p [[go.Sub]] bolted to the horse and swung [[go.self]] onto its back. The horse reared with a neigh, but Go dug [[go.pos]] heels into the creature’s side and slapped its rump. The horse threw itself into a gallop.
p Askk and Cedilla's cries disappeared behind [[go.obj]]. [[go.Sub]] rode hard down the path, never lessening their pace, even on the steeper slopes. The horse's mouth foamed. The church bells sung a greeting from the approaching edge of the town. [[go.Sub]] could feel [[go.pos]] wet clothes and the wind sucking all the heat from [[go.pos]] body.
p In [[go.pos]] head, [[go.sub]] mapped out the route to the pawn shop. That was [[go.pos]] original plan anyway. Sell the crystal, spend a few nights in town, and get off this stupid island once and for all. No one trying to kill [[go.obj]]. No one trying to sell [[go.obj]]. And [[go.sub]]'d go so far away, no one would ever find [[go.obj]]. How ever this crystal fused into [[go.obj]] hand, the shop owner was sure to know how to undo it.
p The clop of cobblestone and burst of traffic swallowed [[go.pos]] thoughts. [[go.Sub]] yanked hard on the reins, twisting the horse down one street, then another, then another, then forced it to jump over a cart.
p "Watch it!" The cart owner shouted after them.
p The horse limped to regain its balance. Scowling, Go looked back to see the damage done -- an overturned bucket of apples scattered across the street. [[go.Sub]] winced and opened [[go.pos]] mouth to apologize, but [[go.sub]] looked forward again to check [[go.pos]] path. [[go.Pos]] eyes widened at the carriage. 
p The horse slid to a halt and bucked Go from its back. It trotted in a circle, bobbing its head and neighing, before trotting away.
p Go sat up. [[go.Sub]] rubbed the bump on the back of [[go.obj]] head. [[go.Pos]] body shivered. [[go.Sub]] glared up at the carriage and slammed a fist into the streetside. Several townsfolk covered their mouths and leaned into their neighbors. Go could not hear what they said, but [[go.sub]] could guess. It was not like this was the first time it happened.
p The carriage door opened.
p "Are you alright?" said a trembling voice.
p Go looked up to see the face of an old [[wisper.human]]. [[wisper.Pos]] black clothes were obvious of those in mourning. [[wisper.Pos]] face was kind, but -- perhaps due to Cedilla's irregular eyes -- Go could not help but notice [[wisper.pospl]] were swollen. 
p [[wisper.Sub]] blinked and turned [[wisper.pos]] head away, shielding [[wisper.pos]] eyes with her hands.
p "I'm sorry," [[wisper.sub]] said. "You seem to have caught me at a bad time with this unseemly sight."
p "Did you see it?" Go said.
p "I'm sorry?"
p "Did you see that monster? And the cliff -- the earthquake -- you must have at least felt it." [[go.Sub]] looked around. Come to think of it, did anyone else?
p "I'm not entirely sure what you're talking about," [[wisper.sub]] looked around. [[wisper.Sub]] stepped out of the carriage and bent down to pick up Go's hat from the ground.
p Go snatched it. [[go.sub]] yanked it onto [[go.pos]] head.
p "This is mine. Don't touch it." Go said.
p "You seem very disoriented right now. If you don't mind, my servant will be back soon." The [[wisper.human]] nodded at one of the townsfolk across the street. "Excuse me. I've only recently moved here -- where might I find a doctor? This youngling has seemed to hit [[go.pos]] head."
p [[go.Sub]] shoved [[go.pos]] hands into [[go.pos]] pockets and shot up.
p "I'm fine," [[go.sub]] said, bowing [[go.pos]] head. "Thank you for your concern. But I've been through far worse and I'm currently in a hurry."
p [[go.Sub]] scanned the street for any hint where Askk's stupid horse might have gone. Home, [[go.sub]] guessed, if not water or a place to hide from Go. Askk's horse. That's the only name [[go.sub]] knew that creature by. Of course, it wouldn't want anything to do with [[go.obj]].
p The old [[wisper.human]] pointed at [[wisper.pos]] carriage. "I can give you a ride to where ever you need to go."
p "You said yourself you're new to this pathetic excuse of an island. I'd prefer help from someone planning to leave. Excuse me."
p [[go.Sub]] stepped into a dark shadow and [[go.sub]] rammed into a something hard. [[go.Sub]] stepped back, cursing and rubbing [[go.pos]] forehead.
p "Why is everything today—" [[go.Pos]] stomach dropped. [[go.Sub]] choked on the lump in [[go.pos]] throat as [[go.sub]] looked up at the newest stranger's X eyes.
p Like Cedilla, this stranger was taller and skinner than an average human, with knee length long hair tied up in a high ponytail. Unlike Cedilla, [[phi.pos]] eyes, hair, and feather bursts were emerald green. Go clenched [[go.pos]] fist hard around the crystal. [[go.Pos]] heartbeat doubled. [[go.Pos]] focus locked onto the alley where [[go.sub]] would escape the moment [[go.pos]] legs found the will to move.
p "Oh, Phi, there you are," the old [[wisper.human]] said. [[wisper.Sub]] patted Go on the shoulder. "This youngling ran into our carriage and isn't mentally alright. We'll be escorting [[go.obj]] for the time being. Youngling, this is my servant Phi. [[phi.Sub]], er... [[phi.sub]] looks strange, but [[phi.subis]] well behaved and properly branded so there is no need for any alarm. Many years of my life, [[phi.sub]] hasn't disobeyed my intentions once. My name is Wisper, by the way, if it's a pleasure to make your acquaintance."
p Phi tilted [[phi.pos]] head.
p "Tar...," Go said, "Taronian?"
p "Oh, so you do know what [[phi.sub]] is! How marvelous. I got the impression people around here only knew what humans were," Wisper said. [[wisper.Sub]] climbed into the carriage, gesturing for Go to follow [[wisper.obj]]. "Come, come. I insist on offering my ride and I won't take no for an answer. If anything, you can help me out as well...perhaps later when you're feeling better."
p Phi stepped into Go's line of sight, blocking [[go.pos]] escape route to the alley. Go clenched [[go.pos]] crystal harder and wondered if maybe what Askk said was true. This Taronian didn't look like [[phi.sub]] had any weapons, so if [[phi.sub]] tried anything, Go could use the crystal as defense. 
p Phi's eyes shifted to Go's pocket. Go glanced too. [[go.Pos]] pocket was glowing. Yanking [[go.pos]] hand out, Go slapped it against [[go.pos]] back. The glowing stopped.
p Wisper leaned out the door. "Is everything alright?"
p Phi sighed. [[phi.Sub]] strolled behind Go, twisted up [[go.pos]] coat collar, and shoved [[go.obj]] into the carriage.

div END CHAPTER 1.
