div(style="background: black;margin-top: -25px;")
	img(src="/app/assets/images/ApeironColor1.jpg" style="max-width:100%")
div.normal.intro
	p Once upon a time, the supreme beings Rock, Paper, and Scissors created the world of Passim. 
	p Then their rivalry tore it apart. 
	p Go happens to live on an island in that world. 
	p So the story begins...

div
	ol.instructions
		li Choose character pronouns
		li Read the adventure
		li Vote how you wish it to continue

//- p.small(style="text-align:center;opacity:0.8") Note: By signing in, you agree to the story rules and readership agreement

ul(style="margin-top: 4em;")
	li(ui-sref="rules")
		a Story Rules
	li(ui-sref="terms")
		a Readership Agreement
	li
		a(ui-sref="privacy") Privacy Policy