div.normal
	h1 Privacy Policy

	p Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.

	ol
		li Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
		li We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.
		li We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.
		li We will only retain personal information as long as necessary for the fulfillment of those purposes.
		li We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.
		li Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.	
		li We will make readily available to users information about our policies and practices relating to the management of personal information.
		li We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
		li We are committed to conducting Apeiron in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained.

	h4 PERSONAL INFORMATION

	p Apeiron collects some Personal Data from its users:

	ul
		li Google Analytics - Cookies and Usage Data
		li Login and/or Mailing list - Email

	p Google Analytics is a script activated by accessing this website. You may opt-out of Google Analytics by using the Google Analytics Opt Out Browser add on. 

	p Email is collected upon login, by either self-submission or through a third-party login service. It is used to maintain your account. Upon login, you will be given the option to join Apeiron's mailing list. You may also join the mailing list without creating an account through the third-party link. You may opt-out of the mailing list via the unsubscribe button at the bottom of the mailing list email. 

	p We will not contact you via email outside of the mailing list and/or direct response to reports of site errors.

	h4 TRACKED INTERACTION

	p Once logged in, we actively record your following actions:

	ul
		li Voting history
		li Pronoun Settings

	p Your actions are associated with a random id to maintain anonimity. By accessing this site, you give us permission to compile, analyze, and publish your actions in conglomeration with those of other users. No personal information will be disclosed or associated with published data.

	p The following may be asked for per survery:

	ul
		li Demographic Information

	p Survey results may be published publically for analysis in context of actions above. You may opt out of any survey which asks for demographic information.


	h4 COOKIES

	p We use cookies to:
		ul 
			li Understand and save user's preferences for future visits.
			li Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third-party services that track this information on our behalf.

	p You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.

	p If you turn cookies off, Some of the features that make your site experience more efficient may not function properly.It won't affect the user's experience that make your site experience more efficient and may not function properly.


	h4 THIRD-PARTY DISCLOSURE

	p We do not sell, trade, or otherwise transfer to outside parties your Personal Information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential. We may also release information when it's release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property or safety. 

	h4 THIRD-PARTY LINKS

	p Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.