div.normal
	h1 Story Rules

	p The Rules are as follows:
	ol
		li Story and events are PG-13, or fitting the YA genre.
		li The target audience is young adults who read serial fantasy stories, especially webcomics and manga.
		li I do not write romance.
		li You only know about Passim what the main characters (MC) know about Passim.
		li The three gender-language options are: Male, Female, Neutral.
		li There will be absolute gender equality.
		li Pronouns cannot be changed once chosen.
		li Poll choice options are shaped by the active MC's past actions, current capabilities, personality, and general intellect.
		li You may not vote on past polls.
		li Past scenes will be edited for grammar or syntax only.
		li There is no plot armor.