div.normal
	h1 Readership Agreement

	p Welcome to The Apeiron Project!

	p Please read this Readership Agreement ("Agreement", "Conditions", "Terms and Conditions") carefully before participating in The Apeiron Project ("Apeiron"), operated by the creator and author, Kai Austin ("us", "we", or "our").

	p Your access to and use of Apeiron is conditioned on your acceptance of and compliance with this Agreement. This Agreement apply to all visitors, users, readers, and others who access or use Apeiron. By accessing or participating in Apeiron you agree to be bound by these Conditions.


	h4 COPYRIGHT & PROPIETY RIGHTS

	p All content of Apeiron and all pronoun and gendered-word varation of content of Apeiron is copyright to its author, Kai Austin. No portion of Apeiron may be sold, reproduced, or distributed without our written permission. Any third-party trademarks, service marks and logos are the property of their respective owners. 

	p Any further rights not specifically granted herein are reserved.

	h4 THE STORY RULES

	p The story rules have been established by the author to act as a guide in writing Apeiron and for what the user can expect out of Apeiron. All rules are non-negotiable. If the nature of the story, project, or readership calls for clarification, the author may add more or alter existing rules. Users will be notified of the changes to the rules.

	h4 ACCOUNTS

	p When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Agreement, which may result in immediate termination of your account.

	p Accounts may be created and associated with login information (ie. email) of a third-party service, such as Facebook and Gmail. You are responsible for safeguarding the login information that you use to access Apeiron and for any activities or actions under the login information.

	p All accounts are assigned a random 36-char id, which is then given another random 24-char id. Pronoun choices, voting history, and any survey results will be associated with this id. The purpose is to maintain data integrity and anonymity of all users. You may not know your ids nor the ids of any other user.

	p You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.

	h4 ON VOTING

	p You can vote on active polls and change votes once every 24-hours until the poll is deactivated. When the poll is no longer active, all results are final. You may not change your submission nor may you vote if you failed to vote in the alloted time period.

	p Your voting history is recorded and will be used in analysis in relationship to reader's choice in pronouns.


	h4 ON LANGUAGE & GENDER ROLES

	p Apeiron is a work of non-erotic fiction, thus we consider the biological reproductive attributes of any given character irrelevant and subjective to the personal imagination of the reader. However, readability remains a major part of any work, thus language will adjust accordingly.

	p When a new character is introduced, you will be prompted to choose the gender of that character. If you opt out to choose, the character will be randomly assigned a pronoun. Your pronoun settings will be used to configure language choice in the story. You may not update a character's pronoun once it has been set.

	p Male entities are denoted by the pronoun set [He, him, his] and male attributed lanaguage (example: father, son).

	p Female entities are denoted by the pronoun set [She, her, hers] and female attributed language (example: mother, daughter).

	p Gender Neutral entities are denoted by the pronoun set [They, them, their] and gender neutral language (example: guardian, sibling).

	p To maintain readability, no non-English standard language or pronouns will be introduced. Precaution will be taken to avoid any gendered words, however if a word denoting groups or occupation is standard male or female (example: fisherman, beautiful), the original word may be used. No physical description of characters will be given beyond clothes, stature, and build.

	p We will also strive for absolute gender equality in character interactions and relationships in order to:  maintain believability, allow for language flexibility amoung personalize pronouns, prevent clash of information, and avoid plot holes.

	p This means that:
		ul
			li Males may fight and hurt females
			li Males may be married to and raise children with other males
			li Males may have traditionally female roles
			li Females may fight and hurt males
			li Females may be married to and raise children with other females
			li Females may have traditionally male roles

	p If you disprove such scenarios, you may discontinue your use of Apeiron at any time.

	h4 ON DATA COLLECTION

	p Voting history and pronoun settings will be recorded and used for analytical purposes. Demographic information may also be asked for via survey. Results of any analysis and survey will be published publicly. However, individual account information will remain private and care will be taken to ensure all users remain anonymous.

	h4 LINKS TO OTHER WEBSITES

	p Apeiron may contain links to third-party web sites or services that are not owned or controlled by Apeiron.

	p We have no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Apeiron shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.

	p We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.

	h4 TERMINATION

	p This Agreement will continue to apply in perpetuity until terminated by either party without notice at any time for any reason. Conditions that are to continue in perpetuity shall be unaffected by the termination of this agreement.

	p We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Agreement.

	p Upon termination, your right to use Apeiron will immediately cease. If you wish to terminate your account, you may simply discontinue using Apeiron.

	h4 CHANGES

	p We reserve the right, at our sole discretion, to modify or replace this Agreement at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.

	p By continuing to access or use Apeiron after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using Apeiron.