p The atrium of Wisper's house was so large, Go was certain [[go.sub]] had stepped into one of those amphitheaters sailors talked about. The house sat on the side of the mountain, over a few miles from the ton. Go had only ever seen it from the gate, and any thought to explore never passed the sight of previous owner's guards.
p [[go.Pos]] jaw fell open. On the polished, marble floor was a floral spiral. Crystal chandeliers broke the incoming light into a thousand rainbows. All along the wall were books. Hundreds upon thousands of books. As Phi pulled [[go.obj]] to follow Wisper down the hall, they still did not end.
p But then Phi yanked Go into a hallway without books. Wisper was no longer ahead of them. 
p "You can join me for lunch after you've changed," Wisper said, [[wisper.pos]] voice fading.
p Phi shoved Go through a door into a large room filled top to bottom with clothes. Go’s eyes widened. [[go.Sub]] glanced around for the shop keeper or counter where the shop keeper might be hiding behind. [[go.Subwas]]n’t sure why someone would have a clothing store in their house, but [[go.subwas]]n’t sure what else it could be.
p Go sneezed and itched [[go.pos]] arm. [[go.Pos]] clothes were still wet. Phi pulled a tunic and pair of pants from one of the shelves. [[phi.Sub]] held them out to Go, but the [[go.child]] waved [[go.pos]] hands, no.
p “I can’t afford new clothes,” [[go.sub]] said. “If you give me a place to hang mine to dry, I should be fine.”
p Phi’s eyes shifted to lock onto the crystal in Go’s palm. [[phi.Sub]] tilted [[phi.pos]] head. Go noticed [[go.pos]] mistake too and [[go.sub]] shoved [[go.pos]] hand into [[go.pos]] pocket, [[go.pos]] ears growing red, [[go.pos]] heart racing. [[go.Sub]] eyed the door. Phi sprung forward, wrenching Go’s wrist into the air. Go cried out. [[go.Sub]] rammed a foot into Phi’s stomach, but the Taronian did not wince.
p Phi yanked a long strip of gauze from [[phi.pos]] sleeve and wrapped [[go.pos]] hand tight. Go pulled away. [[go.Sub]] arched [[go.pos]] eyebrows and looked up at Phi. Phi pointed at [[phi.pos]] palm, then out the door, then pressed a finger to [[phi.pos]] lips. [[phi.Sub]] shook [[phi.pos]] head.
p “Can’t you talk?” Go asked.
p The x’s in Phi’s eyes grew fat, almost making [[phi.pos]] pupils appear like a normal circle for once. They spun around and narrowed again. Phi smiled. [[phi.Sub]] bowed [[phi.pos]] head and tossed the clothes to Go. [[phi.Sub]] also pointed at a towel. [[phi.Sub]] rubbed [[phi.pos]] fingers together in one hand, like handling coins. With the other hand, [[phi.sub]] air drew an x over his fingers. [[phi.Sub]] shook [[phi.pos]] head again. [[phi.Pos]] eyes did not leave the floor.
p [[phi.Sub]] walked backward out of the room and the door closed.
p Go was surprised how well the clothes fit, though [[go.sub]] could not decide if they were comfortable or not. [[go.Pos]] old pants were too small and [[go.pos]] jacket too large. The threadbare edges of [[go.pos]] shoe seemed to have finally acquired a hole. But [[go.sub]] had grown used to that. [[go.Sub]] grabbed the towel and ruffled [[go.pos]] hair. [[go.Sub]] lay the towel on the floor, placed [[go.pos]] hat inside, and rolled them together in a tube. With all the strength [[go.sub]] could muster, [[go.sub]] wrenched the towel tight.
p [[go.Sub]] whipped [[go.pos]] hat in the air to dry before placing it back on [[go.pos]] head.
p As [[go.sub]] left the room, the smell of freshly baked bread slammed into [[go.pos]] nose. [[go.Pos]] stomach growled. Saliva gushed under [[go.pos]] tongue, slipping from the corners of [[go.pos]] mouth. [[go.Sub]] sucked and swallowed hard. [[go.Sub]] rubbed [[go.pos]] jaw with [[go.pos]] sleeve.
p Why, oh why, did [[go.sub]] forget to eat breakfast?
p [[go.Pos]] stomach growled again.
p [[go.Sub]] followed the smell back to the main hallway. [[go.Sub]] looked up the hall, from where the smell drifted. [[go.Sub]] looked down to the sparkling atrium and the door to the exit. [[go.Sub]] looked up the hall again.
p Should [[go.sub]] escape?
p The lonely song of an organ began to play.
