p A surge of panic flew through Go's body and [[go.pos]] mind went blank.
p [[go.Sub]] grabbed the cave entrance. With all [[go.pos]] might, [[go.sub]] stomped the rocks. The edges crumbled away in insignificant pebbles.
p The monster lunged.
p "I said run!" The stranger roared.
p A blunt force rammed into Go’s stomach. [[go.Subwas]] shoved away from the wall, the ocean swallowing much of the force, but it was enough to create a large gap between [[go.obj]] and the wall. The monster rammed into where [[go.sub]] had been. The cliff trembled. It cracked. The shadow of a large wave fell over Go. [[go.Sub]] slapped [[go.pos]] hand on [[go.pos]] hat.
p The wave scooped [[go.obj]] in its flight. [[go.Sub]] braced for impact against the rocks and stretched [[go.pos]] fingers to grab the first hint of solid security [[go.sub]] could touch. A thick tentacle whipped around [[go.pos]] leg, jerking [[go.obj]] further down.
p [[go.Sub]] stomped the tentacle. [[go.Sub]] grabbed it. The sting shot [[go.pos]] arm and [[go.sub]] cried in pain. The last of [[go.pos]] air escaped [[go.pos]] lungs. [[go.Sub]] looked up to the hope of the surface. The inside of the monster's mouth rose up around [[go.obj]]. [[go.Sub]] felt [[go.pos]] hat slip from [[go.pos]] head, [[go.sub]] slammed it down. The crystal jolted up from [[go.pos]] pocket. Impulse forced [[go.obj]] to grab that too.
p Something thin zipped past [[go.pos]] cheek.
p The tentacle loosened. The monster coiled back, its shrieking cry louder than ever before. 
p Go shot up to the surface. [[go.Sub]] coughed, [[go.sub]] gasped, [[go.sub]] spattered, [[go.sub]] swallowed water as more waves crashed into [[go.obj]] and then crashed [[go.obj]] into the side of the cliff. [[go.Sub]] grabbed the rocks, begging whatever final ounces of strength [[go.sub]] had to not leave [[go.pos]] fingers.
p The monster burst from the water with another roar. It twisted its head around the cove until one of its black eyes locked onto Go.
p "Apeiron," its stomach rumbled again.
p There was a crash near Go's head, a small rumble of rocks. Go looked up to see the stranger standing on a paper-thin sword slammed into the cliff side. [[cedilla.Sub]] were tall -- almost six foot -- and scrawny. [[cedilla.Pos]] gray skin was not a trick of the light. [[cedilla.Pos]] red were eyes blazing. On the side of [[cedilla.pos]] head, where there should have been ears, grew a burst of yellow and red ombre feathers.
p [[cedilla.Sub]] grabbed a strand of [[cedilla.pos]] knee-length hair. [[cedilla.Sub]] plucked a trio of feathers, a black liquid evaporating from the tip of [[cedilla.pos]] quills. [[cedilla.Sub]] pushed a foot forward. [[cedilla.Sub]] stretched out an arm. [[cedilla.Sub]] twisted [[cedilla.pos]] hair around [[cedilla.pos]] fingers, placed the feathers inside, pulled [[cedilla.obj]] back to [[cedilla.pos]] shoulder, and let go.
p The feathers sliced clear through the monster's heart. 
p It threw back its head, shrieking and clapping its beak; the storm inside its belly exploded. The seaweed encompassing its form sagged and imploded. Its tail and tentacles thrashed. The cove continued to crumble. Even larger rocks crashed into the water around them.
p The strange grabbed Go by the collar and hoisted [[go.obj]] over [[cedilla.pos]] back.
p Go found [[go.self]] thrown onto a tuft of grass at the top of the cliff. It sloped down to a tiny road far off in the distance where [[go.sub]] could make out a small cart. The ground around [[go.obj]] continued to tremble. 
p Go gagged. A surge of vomit bubbled up [[go.pos]] throat. [[go.Sub]] clapped [[go.pos]] hand over [[go.pos]] mouth and forced [[go.self]] to swallow. 
p The trembling stopped.
p "What...," [[go.sub]] paused and coughed. "What was that? Who are you?"
p The stranger rammed the blade of [[cedilla.pos]] sword next to Go's head. [[go.Sub]] froze. The stranger's piercing gaze stared down at [[go.obj]], no ounce of emotion, no hint of humanity.
p "Give it to me," [[cedilla.sub]] said.
p "Give you what? What's going on? Who are you?" Go said.
p The stranger squinted. "Give it to me."
p "I don't know what you’re talking about!"
p "Go!" said the all too familiar voice of Askk.
p Sure enough, Askk had ditched the cart on the road. As [[askk.sub]] rode up, [[askk.pos]] face grew pale and [[askk.sub]] pulled [[askk.pos]] horse to a halt. [[askk.Sub]] dismounted. [[askk.Sub]] pat [[askk.pos]] horse on the neck and rubbed its nose, but it was clear it was a farce to recompose [[askk.pos]] expression.
p The stranger yanked Go to [[go.pos]] feet and place [[cedilla.pos]] sword on [[go.pos]] neck.
p "Askk, stay away!" Go said.
p "Cedilla," Askk said.
p The stranger pulled Go in tighter.
p "Cedilla, please. Release [[go.obj]]. Neither [[go.sub]] nor I have any intention of hurting you.”
p "I'll cut off [[go.pos]] hand then." Cedilla threw Go onto the ground and stomped on [[go.pos]] elbow. Go yelped. [[go.Sub]] looked at [[go.pos]] hand -- the crystal from before nestled within it. Or no, not nestled. It had fused into [[go.pos]] flesh, [[go.pos]] skin clutching it like quicksand.
p Cedilla lifted [[cedilla.pos]] sword into the air.
p Go grabbed a rock with [[go.pos]] free hand and jabbed it into the back of Cedilla's knee. [[cedilla.Pos]] foot slid off. [[go.Sub]] rolled away and jumped to [[go.pos]] feet. [[go.Sub]] backed away from both of them, shaking [[go.pos]] head, [[go.pos]] heart racing, [[go.pos]] mind a spiral of confusion. [[go.Sub]] inspected [[go.pos]] hand again.
p Cedilla tisked and shoved [[cedilla.pos]] sword back into its sheath. "Very well, I'll buy [[go.obj]] whole. How much?"
p "[[go.Subis]]  my [[go.sibling]]!" Askk said.
p "Will someone please tell me what's going on?" Go roared. "Who's Cedilla? What was that monster? And my hand...what happened to my hand?"
p Askk shoved a palm against [[askk.pos]] head. [[askk.Sub]] sat down on the grass and sighed. "Go, this is Cedilla. They're a Taronian crystal hunter. That thing in your hand is what's known as an Apeiron crystal. It's...hard to describe."
p "A fragment from the crown of the supreme being Rock. It's not that difficult," Cedilla interrupted. "That creature you saw before was a kelper. The crystal was in its possession. Therefore, I was hunting it."
p Go blinked. "That makes even less sense."
p "That's because you're stupid," Cedilla said.
p "I'm not stupid. You're saying things I don’t understand."
p "Everyone who lives under Rock is stupid. It's a basic personality trait and denying it won't change that fact."
p "Askk!" Go glared at [[go.pos]] [[askk.sibling]].
p Askk moaned and rubbed [[askk.pos]] head. "Let me put it this way. Our world was created by three supreme beings: Rock, Paper, and Scissors."
p Go arched an eyebrow. "Like...the game?"
p "That's where it comes from, yes. Rock has power over Scissors, Paper has power over Rock, and Scissors has power over Paper. Everything created by them follows the same pattern. Humans were one of the types of created by Rock. Almost every shapeshifter is the product of Paper, including water – which is why you can’t breath it. The air, however, is a product of Scissors, as are Taronians." [[askk.Sub]] pointed at [[askk.pos]] palm. "And that crystal…it will destroy Cedilla the moment it touches [[cedilla.obj]]."
p Cedilla slipped [[cedilla.pos]] sword from its sheath. "I'd like to see you try!"
p "I said [[go.sub]] won't hurt you," Askk snapped. "Point is, their power was balanced. However, they had philosophical differences and now all the creations—at least the ones with any sort of consciousness—are in a rivalry of sorts. I'm sure you can figure out the rest."
p Go was not sure it made sense. In fact, it sounded too bizarre to be true, but perhaps that was more reason to believe it considering everything else. [[go.Sub]] looked at Cedilla, then back at Askk who squinted and massaged [[askk.pos]] brow, then back at Cedilla. Cedilla's eyes were fixed on Go. [[go.Subwas]] certain they produced a light of their own and their pupils were not round as much as tiny x's, which only made them worse. 
p Or no, they were not fixed on Go. They were fixed on the crystal.
p Go moved [[go.pos]] hand to [[go.pos]] hat. Cedilla's eyes followed. [[go.Sub]] dropped [[go.pos]] hand to [[go.pos]] side. The x-pupils dropped to.
p [[go.Sub]] turned back to [[go.pos]] [[askk.sibling]]. "When were you going to tell me any of this?"
p Askk stood and grabbed [[askk.pos]] horse's reins. "Go, I'm not in the mood right now. Come on, let's go home."
p "I'm not going back there!" Go said. "And you still haven't told me, how in the world do you two know each other?"
p "The only place [[go.subis]] going is with me," Cedilla said at the same time. "I will not leave this island without that crystal."
p "And [[go.subis]] not leaving this island at all," Askk said. "No one is. I'll ensure even in my dying breath it stays that way."
p "How much?” Cedilla said. “I can give you enough to find a superior substitute if you wish. I'm confident I can make them similar in both appearance and stature as well."
p "Humans aren't objects you can just replace, Cedilla!" Askk snapped. "Unlike your memories, apparently. I won't let my family make the same mistake as me."
p Cedilla tilted [[cedilla.pos]] head. "And that's why I'm offering compensation. Either sell me that [[go.child]]," [[cedilla.sub]] said and glanced at Go. [[cedilla.Sub]] pointed at [[go.obj]] with [[cedilla.pos]] sword. "Or you, sell me your hand. Otherwise, I'll take it by force."